/* CSS Document */
#wrapper
{
	width: auto;
	background-image: url(../images/leather.jpg);
	background-repeat: no-repeat;
}
#damein
{
	width: 279px;
	height: 308px;
	background-image: url(../images/damein.jpg);
	background-repeat: no-repeat;
	color: red;
}
.menuBar
{width:897px;
height:58px;
padding-top:15px;
margin:0 auto;
background-repeat:no-repeat; 
}
.menuBar ul
{margin:0px;
padding:0px; text-align:center;
}
.menuBar li
{display:inline;
padding:10px 20px 0px 20px;
list-style-type:none; background:url(../images/menu_border.gif) no-repeat 0 7px;
}
.menuBar li.first{background:none}

.menuBar li a
{
text-decoration:none;
color:#FADCC2;
font:16px Myriad Pro, Arial, Helvetica, sans-serif;
text-transform:uppercase;
}

.menuBar li a:hover{text-decoration:none; color:#ffffff;}
.menuBar li a.current{text-decoration:none; color:#ffffff;}


.container1
{width:852px;
background: url(../images/containerbg.jpg) left top no-repeat;
margin:0 auto;
}
.infoContainer {
	color: #000000;
	font-size: 12px;
	margin-top: 20px;
	margin-left: 329px;
	text-align: justify;
	width: 473px;
	height: 145px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.textContainer1
{
	color: #000000;
	font-size: 12px;
	margin-top: 20px;
	margin-left: 50px;
	text-align: justify;
	width: 753px;
	height: 145px;
	font-family: Georgia, "Times New Roman", Times, serif
}
h1
{font-size:24px;
text-align:center;
margin:0px;
font-weight:200;
color:#FFFFFF;
padding:0px 0px 0px 0px;
font-family:Georgia, "Times New Roman", Times, serif;
text-align: center;
}
h2
{
	font-size: 18px;
	margin: 0px;
	font-weight: 200;
	color: #FFFFFF;
	padding: 40px 0px 0px 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
h3
{font-size:18px;
margin:0px;
font-weight:200;
color:#5D2D23;
padding:0px 0px 0px 0px;
font-family:Georgia, "Times New Roman", Times, serif;
}
.footer
{color:#83420D;
 width:197px;
 text-align:center;
 font-family:Georgia, "Times New Roman", Times, serif;
 padding:0px 0px 0px 260px;
 }
.resumelink
{
	color: #83420D;
	font-weight: bold;
}
.bottomBar
{
	width:868px;
	height:56px;
	background-image:url(../images/barorange.png);
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.menuBar2
{
	width: 897px;
	height: 58px;
	margin-top: 12px;
	margin-left: auto;
	margin-right: auto;
}
.menuBar2 ul
{
padding:0px; text-align:center;
}